Repository sreevarshan-xenoz/Network-intrusion-detection, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dev-team, @security-team, @devops-team, @ml-team, @backend-team, @tech-writers

.github/CODEOWNERS:

# Global owners
* @dev-team

# Security-related files
/src/api/auth.py @security-team
/src/utils/security.py @security-team
/.github/workflows/security-scan.yml @security-team
/config/nginx/ @security-team

# Infrastructure and deployment
/docker-compose*.yml @devops-team
/Dockerfile @devops-team
/.github/workflows/ci-cd.yml @devops-team
/.github/workflows/deploy.yml @devops-team
/config/prometheus/ @devops-team
/config/grafana/ @devops-team
/scripts/ @devops-team

# Machine learning models
/src/models/ @ml-team
/src/data/ @ml-team
/.github/workflows/model-retraining.yml @ml-team

# API and services
/src/api/ @backend-team
/src/services/ @backend-team

# Documentation
/README.md @tech-writers
/DOCKER_README.md @tech-writers
/docs/ @tech-writers

# Configuration files
/config/ @devops-team @security-team
/.env.example @devops-team
/requirements*.txt @dev-team

Set up CI/CD pipeline
  docker-compose.staging.yml
  scripts/deploy.py
Owners: @devops-team

Implement automated retraining workflow
  logs/nids.log
  src/utils/__pycache__/logging.cpython-312.pyc
  src/utils/logging.py
  tests/test_model_monitor.py
  tests/test_retraining_pipeline.py
Owners: @dev-team

Implement automated retraining workflow
  logs/nids.log
  src/services/threat_intelligence.py
  tests/test_threat_intelligence.py
Owners: @dev-team, @backend-team

Implement behavioral analysis engine
  src/services/behavioral_analyzer.py
  tests/test_behavioral_analyzer.py
Owners: @backend-team, @dev-team

Implement behavioral analysis engine
  logs/nids.log
  src/services/behavioral_analyzer.py
  tests/test_behavioral_analyzer.py
Owners: @dev-team, @backend-team

Build advanced attack correlation system
  examples/behavioral_analysis_demo.py
  logs/nids.log
  tests/test_behavioral_analyzer.py
Owners: @dev-team

Build advanced attack correlation system
  examples/behavioral_analysis_demo.py
  logs/nids.log
Owners: @dev-team

Build advanced attack correlation system
  logs/nids.log
  src/services/attack_correlator.py
  tests/test_attack_correlator.py
Owners: @dev-team, @backend-team

fdghdfg
  UI_README.md
  requirements_ui.txt
  scripts/launch_advanced_ui.py
  src/ui/advanced_dashboard.py
  src/ui/web_interface/src/App.js
  src/ui/web_interface/src/components/Dashboard/MetricCard.js
  src/ui/web_interface/src/components/Dashboard/ThreatTimeline.js
  src/ui/web_interface/src/components/Layout/Header.js
  src/ui/web_interface/src/components/Layout/Sidebar.js
  src/ui/web_interface/src/pages/ThreatOverview.js
Owners: @dev-team, @devops-team
